.container {
    width: 100%;
}

.fixed-header {
    width: 100%;
    position: fixed;
    background:#47adb8;
    color: #fff;
    top: 0px;
}

.navigation > nav > a {
    color:black;
    text-decoration:none;
    padding: 7px 25px;
    display: inline-block;
    font-weight: bold;
}

nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 10px;
    display: inline-block;
}

.search {
    width: 50%;
    margin-left:65px;
    margin-right:65px;
}

nav a img {
    width:70px;
    height:70px;
}

.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-top:0px;
    width:30%;
    height:60%;
}

h1 {
    text-align:center;
    font-family:Verdana, sans-serif;
    font-size:36px;
    font-style:italic;
}

h2 {
    text-align:center;
    font-family:cursive;
    font-size:24px;
    font-style:italic;
}

h3 {
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

h4 {
    text-align:center;
    font-family:Verdana, sans-serif;
    font-size:36px;
    font-style:italic;
}

.column {
    float:left;
    width:50%;
}

.column img {
    display: block;
    width: 80%;
    height: 25%;
    padding: 0px;
    margin: auto;
    margin-bottom: 15px;
}

.column p {
    color: black;
    text-align:center;
}

.column button {
    border: none;
    outline: 0;
    padding: 12px;
    color:white;
    background-color: #47adb8;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
    margin: 5% 25%;
}

.column button:hover {
    opacity:0.7;
}

.price {
    font-size: 22px;
}

.row {
    display: block;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.signinform {
    text-align: left;
    margin: auto;
    max-width: 700px;
    font-size:16px;
    font-family: Verdana, sans-serif;
    padding: 20px 40px;
}

.signinform {
    display: block;
}

.signinform > input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 4px 8px;
}

form .error {
    color: #ff0000;
    font-style:italic;
  }

.reviewform {
    text-align: left;
    margin: auto;
    max-width: 700px;
    font-size:16px;
    font-family: Verdana, sans-serif;
    padding: 20px 40px;
    display: block;
}

.reviewform > textarea {
    font-size: 12px;
    letter-spacing: 1px;
}

.reviewform > textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.reviewform > input {
    text-align:right;
}

.message {
    font-size: 14px;
    text-align: center;
    font-style: italic;
    font-family: Verdana, sans-serif;
    color: red;
}


#signinbutton {
    text-align: center;
    background-color: #47adb8;
    color: white;
    padding: 8px 12px;
    margin: 8px 38%;
    border: none;
    cursor: pointer;
    width: 25%;
}

.btn {
    margin-left: 10px;
}

button:hover{
    opacity: 0.7;
}

footer {
    padding: 10px;
    text-align: center;
    position: relative;
    font-size: 11px;
    background: #47adb8;
}

footer > ul {
    display: inline;
}

